# coding=utf-8

from xpaw.spider import Spider


class ${ProjectName}Spider(Spider):
    def __init__(self, config):
        super().__init__(config)

    def parse(self, response):
        pass

    def start_requests(self):
        pass
