# coding=utf-8

from xpaw import Spider


class ${ProjectName}Spider(Spider):
    """
    Automatically created pipeline.
    """

    def start_requests(self):
        pass

    def parse(self, response):
        pass
