# coding=utf-8

# Configure spider
spider = '${project_name}.spider.${ProjectName}Spider'

# Configure item pipelines
item_pipelines = [
    '${project_name}.pipelines.${ProjectName}Pipeline'
]

# Configure the maximum number of simultaneous clients (default: 100)
# downloader_clients = 100

# Enable speed limit by setting both parameters (disabled by default)
# speed_limit_rate = 1
# speed_limit_burst = 1

# Override the default request headers
# default_headers = {
#     'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
#     'Accept-Encoding': 'gzip, deflate',
#     'Accept-Language': 'zh-CN,zh;q=0.8',
#     'Cache-Control': 'max-age=0',
#     'Connection': 'keep-alive',
#     'Upgrade-Insecure-Requests': '1'
# }

# Configure user agent
# user_agent = ':desktop'

# Configure proxy
# proxy = None

# Configure downloader middlewares
# downloader_middlewares = {}

# Configure spider middlewares
# spider_middlewares = {}

# Configure extensions
# extensions = {}
