# coding=utf-8

# Configure spider
spider = '${project_name}.spider.${ProjectName}Spider'

# Configure item pipelines
item_pipelines = [
    '${project_name}.pipelines.${ProjectName}Pipeline'
]

# Configure the maximum number of simultaneous clients (default: 100)
# downloader_clients = 100

# Override the default request headers
# default_headers = {}

# Configure user agent
# user_agent = ':desktop'

# Configure proxy
# proxy = None

# Configure downloader middlewares
# downloader_middlewares = {}

# Configure spider middlewares
# spider_middlewares = {}

# Configure extensions
# extensions = {}
